@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('paym.jpg') no-repeat;
  background-size: cover;
}
.wrapper {
  /*margin-left: 600px;*/
  position: relative;
  width: 400px;
  height: 550px;
  background: transparent;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 25px rgba(255, 213, 0, 0.621);
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
}
.wrapper:hover {
  animation: animate 1s linear infinite;
}

.form-wrapper {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  transition: 1s ease-in-out;
}

h2{
  font-size: 30px;
  color: #000;
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
}

.input-group {
    position: relative;
    margin: 40px 0;
    border-bottom: 2px solid #000;
  }
  .input-group label {
    position: absolute;
    top: -15px;
    left: 5px;
    transform: translateY(-30%);
    font-size: 16px;
    color: #000;
    pointer-events: none;
    /*transition: .5s;*/
  }
  .input-group input {
    width: 320px;
    height: 30px;
    font-size: 16px;
    color: #1e1896;     /*text user enters*/
    padding: 0 20px;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .input-group select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background: transparent;
  }

  button {
    position: relative;
    width: 100%;
    height: 40px;
    background: rgb(255, 64, 0);
    box-shadow: 0 0 10px rgb(255, 64, 0);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
  }
